$primary-color: #002299;
$secondary-color: #ff469f;
$tertiary-color: #161623;
$quaternary-color: #0ffff1;
$quinary-color: #ffffff;
$senary-color: #2d9cdb;
$septenary-color: #20925b;
$octonary-color: #bac5da;
$nonary-color: #e0e0e0;
